In [1]:
import requests

In [2]:
date = [
    (20170301, 20170331), (20170401, 20170430), (20170501,
                                                 20170531), (20170601, 20170630),
    (20170701, 20170731), (20170801, 20170831), (20170901,
                                                 20170930), (20171001, 20171031),
    (20180301, 20180331), (20180401, 20180430), (20180501,
                                                 20180531), (20180601, 20180630),
    (20180701, 20180731), (20180801, 20180831), (20180901,
                                                 20180930), (20181001, 20181031),
    (20190301, 20190331), (20190401, 20190430), (20190501,
                                                 20190531), (20190601, 20190630),
    (20190701, 20190731), (20190801, 20190831), (20190901,
                                                 20190930), (20191001, 20191031),
]

In [36]:
def KBO_rank(date):
    data1 = []

    for i in date:
        pre, pro = i
        url = "https://www.koreabaseball.com/ws/TeamRank.asmx/GetTeamRankDaily?startDate={}&endDate={}".format(
            pre, pro)
        response = requests.get(url)
        data = response.json()
        for num in range(0, 10):
            team = data['data'][num]["name"]
            rank = data['data'][num]["data"]

            for i in rank:
                if len(str(i[1])) == 1 and ((i[1]) != 9):
                    a = "0" + str(i[1] + 1)
                else:
                    a = i[1] + 1

                if len(str(i[2])) == 1:
                    b = "0" + str(i[2])
                else:
                    b = i[2]
                
                data1.append({team:
                          {"date": str(i[0])+ "/" + str(a) + "/" + str(b),
                           "rank": i[3],
                           }})

    date = []
    hw = []
    kia = []
    kt = []
    lg = []
    ld = []
    nc = []
    ob = []
    sk = []
    ss = []
    kw = []

    for dic in data1:
        for key, value in dic.items():
            if key == "한화":
                date.append(value["date"])
            if key == "한화":
                hw.append(value["rank"])
            if key == "KIA":
                kia.append(value["rank"])
            if key == "KT":
                kt.append(value["rank"])
            if key == "LG":
                lg.append(value["rank"])
            if key == "롯데":
                ld.append(value["rank"])
            if key == "NC":
                nc.append(value["rank"])
            if key == "두산":
                ob.append(value["rank"])
            if key == "SK":
                sk.append(value["rank"])
            if key == "삼성":
                ss.append(value["rank"])
            if key == "넥센":
                kw.append(value["rank"])
            if key == "키움":
                kw.append(value["rank"])

    gg = pd.DataFrame(columns=("date", "hw", "kia", "kt", "lg",
                               "ld", "nc", "ob", "sk", "ss", "kw"))

    gg["date"] = date
    gg["hw"] = hw
    gg["kia"] = kia
    gg["kt"] = kt
    gg["lg"] = lg
    gg["ld"] = ld
    gg["nc"] = nc
    gg["ob"] = ob
    gg["sk"] = sk
    gg["ss"] = ss
    gg["kw"] = kw
    
    return gg

In [37]:
rank_df = KBO_rank(date)

In [39]:
rank_df.to_csv('datas/kbo_rank.csv', index=False)

In [40]:
rank_df = pd.read_csv("datas/kbo_rank.csv")

In [41]:
rank_df.tail()

           date  hw  kia  kt  lg  ld  nc  ob  sk  ss  kw
471  2019/09/28   9    7   6   4  10   5   1   1   8   3
472  2019/09/29   9    7   6   4  10   5   1   1   8   3
473  2019/09/30   9    7   6   4  10   5   2   1   8   3
474  2019/10/01   9    7   6   4  10   5   1   2   8   3
475  2019/10/26   9    7   6   4  10   5   1   3   8   2

### team

In [86]:
hw = pd.DataFrame(rank_df[["date", "hw"]])
hw["team"] = "한화"
hw.columns = ["Date", "hw_rank", "team"]

In [87]:
kia = pd.DataFrame(rank_df[["date", "kia"]])
kia["team"] = "KIA"
kia.columns = ["Date", "kia_rank", "team"]

In [88]:
kt = pd.DataFrame(rank_df[["date", "kt"]])
kt["team"] = "KT"
kt.columns = ["Date", "kt_rank", "team"]

In [89]:
lg = pd.DataFrame(rank_df[["date", "lg"]])
lg["team"] = "LG"
lg.columns = ["Date", "lg_rank", "team"]

In [90]:
ld = pd.DataFrame(rank_df[["date", "ld"]])
ld["team"] = "롯데"
ld.columns = ["Date", "ld_rank", "team"]

In [91]:
nc = pd.DataFrame(rank_df[["date", "nc"]])
nc["team"] = "NC"
nc.columns = ["Date", "nc_rank", "team"]

In [92]:
dusan = pd.DataFrame(rank_df[["date", "ob"]])
dusan["team"] = "두산"
dusan.columns = ["Date", "dusan_rank", "team"]

In [93]:
sk = pd.DataFrame(rank_df[["date", "sk"]])
sk["team"] = "SK"
sk.columns = ["Date", "sk_rank", "team"]

In [94]:
ss = pd.DataFrame(rank_df[["date", "ss"]])
ss["team"] = "삼성"
ss.columns = ["Date", "ss_rank", "team"]

In [95]:
kw = pd.DataFrame(rank_df[["date", "kw"]])
kw["team"] = "키움"
kw.columns = ["Date", "kw_rank", "team"]

In [96]:
kw.tail()

           Date  kw_rank team
471  2019/09/28        3   키움
472  2019/09/29        3   키움
473  2019/09/30        3   키움
474  2019/10/01        3   키움
475  2019/10/26        2   키움

### 순위 데이터 합치기

In [133]:
datas = pd.read_csv("datas/master_table2.csv")

In [134]:
datas.tail(2)

,Date,year,month,quarter,WeekDay,Weekend,Home,Result,Away,etc,...,Min_c,Max_c,NO2,O3,CO,SO2,PM10,PM25,attendance,streak
429,2019-09-30,2019,9,3,월,0,LG,win,롯데,-,...,16.0,30.0,0.041,0.032,0.6,0.003,46.0,33.0,12042,1
430,2019-10-01,2019,10,4,화,0,두산,win,NC,-,...,16.0,30.0,0.037,0.024,0.6,0.003,40.0,28.0,24081,1

In [135]:
datas["Date"] = datas["Date"].apply(lambda data: data.replace("-", "/"))

In [154]:
datas.tail(2)

,Date,year,month,quarter,WeekDay,Weekend,Home,Result,Away,etc,...,Min_c,Max_c,NO2,O3,CO,SO2,PM10,PM25,attendance,streak
429,2019/09/30,2019,9,3,월,0,LG,win,롯데,-,...,16.0,30.0,0.041,0.032,0.6,0.003,46.0,33.0,12042,1
430,2019/10/01,2019,10,4,화,0,두산,win,NC,-,...,16.0,30.0,0.037,0.024,0.6,0.003,40.0,28.0,24081,1

In [137]:
datas2 = datas[["Date", "Home", "Result", "Away", "attendance"]]

In [156]:
result1 = pd.merge(datas, hw, how="left", left_on=["Date", "Away"], right_on=["Date", "team"])
result1 = result1.drop(["team"], axis=1)

In [157]:
result1 = pd.merge(result1, kia, how="left", left_on=["Date", "Away"], right_on=["Date", "team"])
result1 = result1.drop(["team"], axis=1)

In [158]:
result1 = pd.merge(result1, kt, how="left", left_on=["Date", "Away"], right_on=["Date", "team"])
result1 = result1.drop(["team"], axis=1)

In [159]:
result1 = pd.merge(result1, lg, how="left", left_on=["Date", "Away"], right_on=["Date", "team"])
result1 = result1.drop(["team"], axis=1)

In [160]:
result1 = pd.merge(result1, lg, how="left", left_on=["Date", "Home"], right_on=["Date", "team"])
result1 = result1.drop(["team"], axis=1)

In [161]:
result1 = pd.merge(result1, ld, how="left", left_on=["Date", "Away"], right_on=["Date", "team"])
result1 = result1.drop(["team"], axis=1)

In [162]:
result1 = pd.merge(result1, nc, how="left", left_on=["Date", "Away"], right_on=["Date", "team"])
result1 = result1.drop(["team"], axis=1)

In [163]:
result1 = pd.merge(result1, dusan, how="left", left_on=["Date", "Away"], right_on=["Date", "team"])
result1 = result1.drop(["team"], axis=1)

In [164]:
result1 = pd.merge(result1, dusan, how="left", left_on=["Date", "Home"], right_on=["Date", "team"])
result1 = result1.drop(["team"], axis=1)

In [165]:
result1 = pd.merge(result1, sk, how="left", left_on=["Date", "Away"], right_on=["Date", "team"])
result1 = result1.drop(["team"], axis=1)

In [166]:
result1 = pd.merge(result1, ss, how="left", left_on=["Date", "Away"], right_on=["Date", "team"])
result1 = result1.drop(["team"], axis=1)

In [167]:
result1 = pd.merge(result1, kw, how="left", left_on=["Date", "Away"], right_on=["Date", "team"])
result1 = result1.drop(["team"], axis=1)

In [168]:
result1.fillna(value=0)

,Date,year,month,quarter,WeekDay,Weekend,Home,Result,Away,etc,...,kt_rank,lg_rank_x,lg_rank_y,ld_rank,nc_rank,dusan_rank_x,dusan_rank_y,sk_rank,ss_rank,kw_rank
0,2017/03/31,2017,3,1,금,0,두산,win,한화,-,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,2017/04/01,2017,4,2,토,1,두산,lose,한화,-,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
2,2017/04/02,2017,4,2,일,1,두산,win,한화,-,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
3,2017/04/04,2017,4,2,화,0,LG,win,삼성,-,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0
4,2017/04/06,2017,4,2,목,0,LG,win,삼성,-,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0
5,2017/04/07,2017,4,2,금,0,두산,lose,넥센,-,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
6,2017/04/08,2017,4,2,토,1,두산,lose,넥센,-,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
7,2017/04/09,2017,4,2,일,1,두산,lose,넥센,-,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
8,2017/04/11,2017,4,2,화,0,두산,win,KIA,-,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
9,2017/04/12,2017,4,2,수,0,두산,lose,KIA,-,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0
10,2017/04/13,2017,4,2,목,0,두산,lose,KIA,-,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0
11,2017/04/14,2017,4,2,금,0,LG,win,KT,-,...,2.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,2017/04/15,2017,4,2,토,1,LG,lose,KT,-,...,2.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,2017/04/16,2017,4,2,일,1,LG,win,KT,-,...,2.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,2017/04/18,2017,4,2,화,0,두산,same,삼성,-,...,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,10.0,0.0
15,2017/04/19,2017,4,2,수,0,두산,win,삼성,-,...,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,10.0,0.0
16,2017/04/20,2017,4,2,목,0,두산,win,삼성,-,...,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,10.0,0.0
17,2017/04/21,2017,4,2,금,0,LG,win,KIA,-,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,2017/04/22,2017,4,2,토,1,LG,lose,KIA,-,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,2017/04/23,2017,4,2,일,1,LG,win,KIA,-,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,2017/04/25,2017,4,2,화,0,LG,lose,SK,-,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
21,2017/04/26,2017,4,2,수,0,LG,win,SK,-,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
22,2017/04/27,2017,4,2,목,0,LG,win,SK,-,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
23,2017/04/28,2017,4,2,금,0,두산,win,롯데,-,...,0.0,0.0,0.0,5.0,0.0,0.0,6.0,0.0,0.0,0.0
24,2017/04/29,2017,4,2,토,1,두산,win,롯데,-,...,0.0,0.0,0.0,6.0,0.0,0.0,5.0,0.0,0.0,0.0
25,2017/04/30,2017,4,2,일,1,두산,lose,롯데,-,...,0.0,0.0,0.0,5.0,0.0,0.0,7.0,0.0,0.0,0.0
26,2017/05/02,2017,5,2,화,0,LG,lose,NC,-,...,0.0,0.0,3.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
27,2017/05/03,2017,5,2,수,1,LG,win,NC,-,...,0.0,0.0,3.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
28,2017/05/04,2017,5,2,목,0,LG,win,NC,-,...,0.0,0.0,3.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
29,2017/05/05,2017,5,2,금,1,두산,lose,LG,-,...,0.0,3.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,2019/08/18,2019,8,3,일,1,두산,win,롯데,-,...,0.0,0.0,0.0,10.0,0.0,0.0,2.0,0.0,0.0,0.0
402,2019/08/20,2019,8,3,화,0,LG,win,KIA,-,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
403,2019/08/21,2019,8,3,수,0,LG,win,KIA,-,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
404,2019/08/22,2019,8,3,목,0,LG,lose,NC,-,...,0.0,0.0,4.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0
405,2019/08/23,2019,8,3,금,0,LG,win,NC,-,...,0.0,0.0,4.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0
406,2019/08/24,2019,8,3,토,1,LG,win,KT,-,...,6.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
407,2019/08/25,2019,8,3,일,1,LG,lose,KT,-,...,6.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
408,2019/08/27,2019,8,3,화,0,두산,win,SK,-,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0
409,2019/08/28,2019,8,3,수,0,두산,win,SK,-,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0
410,2019/08/30,2019,8,3,금,0,LG,lose,한화,-,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
411,2019/08/31,2019,8,3,토,1,두산,win,삼성,-,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,8.0,0.0
412,2019/09/01,2019,9,3,일,1,두산,win,삼성,-,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,8.0,0.0
413,2019/09/03,2019,9,3,화,0,두산,lose,키움,-,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,3.0
414,2019/09/06,2019,9,3,금,0,LG,win,롯데,-,...,0.0,0.0,4.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
415,2019/09/08,2019,9,3,일,1,LG,win,두산,-,...,0.0,0.0,4.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
416,2019/09/11,2019,9,3,수,0,두산,lose,NC,-,...,0.0,0.0,0.0,0.0,5.0,0.0,3.0,0.0,0.0,0.0
417,2019/09/12,2019,9,3,목,1,두산,win,KIA,-,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
418,2019/09/13,2019,9,3,금,1,두산,win,KIA,-,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
419,2019/09/14,2019,9,3,토,1,LG,win,KIA,-,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
420,2019/09/15,2019,9,3,일,1,LG,win,두산,-,...,0.0,0.0,4.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
421,2019/09/16,2019,9,3,월,0,두산,lose,키움,-,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,2.0
422,2019/09/20,2019,9,3,금,0,두산,win,KIA,-,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
423,2019/09/21,2019,9,3,토,1,두산,win,KIA,-,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
424,2019/09/22,2019,9,3,일,1,두산,lose,LG,-,...,0.0,4.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
425,2019/09/23,2019,9,3,월,0,LG,lose,한화,-,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
426,2019/09/24,2019,9,3,화,0,LG,lose,삼성,-,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0
427,2019/09/27,2019,9,3,금,0,LG,lose,NC,-,...,0.0,0.0,4.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0
428,2019/09/29,2019,9,3,일,1,LG,lose,두산,-,...,0.0,0.0,4.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
429,2019/09/30,2019,9,3,월,0,LG,win,롯데,-,...,0.0,0.0,4.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
430,2019/10/01,2019,10,4,화,0,두산,win,NC,-,...,0.0,0.0,0.0,0.0,5.0,0.0,1.0,0.0,0.0,0.0