### 공휴일

In [77]:
holiday = pd.read_csv("datas/holi.csv", encoding="euc-kr")

In [78]:
holiday["date"] = holiday["date"].str.replace("-", "/")

In [79]:
holiday.head(2)

         date weekday datename  weekend
0  2017/01/01  Sunday       신정      1.0
1  2017/01/02  Monday      NaN      NaN

### 기후

In [80]:
climate = pd.read_csv("datas/jamsil_cli.csv", encoding="utf-8")

In [81]:
climate.drop(["Unnamed: 0"], axis=1, inplace=True)
climate["날짜"] = climate["날짜"].apply(lambda data: str(
    data)[:4] + "/" + str(data)[4:6] + "/" + str(data)[6:])

In [82]:
climate.head(2)

           날짜  행정구  맑음  눈/비  min_c  max_c
0  2017/01/01  송파구   1    0   -2.0    7.0
1  2017/01/01  송파구   1    0   -2.0    7.0

### 미세먼지

In [83]:
dust = pd.read_csv("datas/jamsil_dust.csv", encoding="utf-8")

In [84]:
dust.drop(["Unnamed: 0"], axis=1, inplace=True)
dust["MSRDT_DE"] = dust["MSRDT_DE"].apply(lambda data: str(
    data)[:4] + "/" + str(data)[4:6] + "/" + str(data)[6:])

In [85]:
dust.head(2)

     MSRDT_DE MSRSTE_NM    NO2     O3   CO    SO2  PM10  PM25
0  2017/01/01       송파구  0.040  0.004  1.2  0.005  64.0  49.0
1  2017/01/02       송파구  0.037  0.017  1.0  0.005  93.0  64.0

### 데이터 merge

In [86]:
df = holiday.merge(climate, how='outer', left_on="date", right_on="날짜")

In [87]:
df = df.merge(dust, how='outer', left_on="date", right_on="MSRDT_DE")

In [88]:
df = df.drop(["날짜", "MSRDT_DE"], axis=1)

In [89]:
df = df.drop_duplicates(subset=['date'], keep='first')

In [90]:
len(df)

1034

In [91]:
df.head(5)

,date,weekday,datename,weekend,행정구,맑음,눈/비,min_c,max_c,MSRSTE_NM,NO2,O3,CO,SO2,PM10,PM25
0,2017/01/01,Sunday,신정,1.0,송파구,1.0,0.0,-2.0,7.0,송파구,0.040,0.004,1.2,0.005,64.0,49.0
2,2017/01/02,Monday,NaN,NaN,송파구,0.0,1.0,2.0,9.0,송파구,0.037,0.017,1.0,0.005,93.0,64.0
4,2017/01/03,Tuesday,NaN,NaN,송파구,1.0,0.0,-2.0,8.0,송파구,0.038,0.017,0.9,0.006,76.0,47.0
6,2017/01/04,Wednesday,NaN,NaN,송파구,1.0,0.0,1.0,9.0,송파구,0.047,0.008,1.1,0.006,55.0,33.0
8,2017/01/05,Thursday,NaN,NaN,송파구,1.0,0.0,0.0,7.0,송파구,0.032,0.014,0.8,0.006,31.0,19.0

In [92]:
df.to_csv("datas/preprocessing_jamsil.csv", index=False)