### 2017

In [28]:
kbo_2017 = pd.read_csv("datas/KBO_2017_season.csv", encoding="utf-8")

In [29]:
kbo_2017["시간"] = kbo_2017["Date"].str[11:]
kbo_2017["Date"] = kbo_2017["Date"].str[:10].str.replace("-", "/")
kbo_2017.head(2)

         Date  구장 원정팀  원정팀점수  홈팀점수  홈팀 원정팀결과 홈팀결과    비고     시간
0  2017/03/14  대전  LG      9     9  한화     무    무  시범경기  13:00
1  2017/03/14  대구  KT      9     1  삼성     승    패  시범경기  13:00

### 2018

In [30]:
kbo_2018 = pd.read_csv("datas/KBO_2018_season.csv", encoding="utf-8")

In [31]:
kbo_2018["시간"] = kbo_2018["Date"].str[11:]
kbo_2018["Date"] = kbo_2018["Date"].str[:10].str.replace("-", "/")
kbo_2018.head(2)

         Date  구장 원정팀  원정팀점수  홈팀점수  홈팀 원정팀결과 홈팀결과    비고     시간
0  2018/03/13  대전  넥센      5     4  한화     승    패  시범경기  13:00
1  2018/03/13  광주  두산      4     5  기아     패    승  시범경기  13:00

### 2019년 3월 ~ 7월

In [32]:
kbo_2019 = pd.read_csv("datas/KBO_2019_season_3-7.csv", encoding="utf-8")

In [33]:
kbo_2019["시간"] = kbo_2018["Date"].str[11:]
kbo_2019["Date"] = kbo_2019["Date"].str[:10].str.replace("-", "/")
kbo_2019.head(2)

         Date  구장 원정팀  원정팀점수  홈팀점수  홈팀 원정팀결과 홈팀결과    비고 시간
0  2019/03/12  상동  NC    4.0   6.0  롯데     패    승  시범경기
1  2019/03/12  대구  KT   12.0  13.0  삼성     패    승  시범경기

### 2017년 ~ 2019년 7월까지 concat

In [34]:
df = pd.concat([kbo_2017, kbo_2018]).reset_index(drop=True)
df = pd.concat([df, kbo_2019]).reset_index(drop=True)

### 2019년 8월 ~10월 추가

In [35]:
df = df.drop(["원정팀점수", "홈팀점수", "원정팀결과"], axis=1)
df.columns = ["dates", "parks", "away", "home", "homewin", "etcs", "times"]

In [36]:
df2 = pd.read_csv('datas/kbo_2019_season_9-10.csv')

In [37]:
game = pd.concat([df, df2])

In [38]:
game.to_csv("datas/preprocessing_kbo.csv", index=False)